%h1 Proposals

%table.proposals
  - @proposals.each do |proposal|
    %tr
      %td= proposal.title
      %td= proposal.person.name
      %td= proposal.summary.truncate(50)
      %td
        - if @votes_by_person.find {|vote| vote.proposal_id == proposal.id }.present?
          voted
