%h1 Proposals

%table.table.proposals
  %thead
    %tr
      %th Title
      %th Name
      %th Summary
      %th Voted
      %th Actions
  %tbody
    - @proposals.each do |proposal|
      %tr
        %td= proposal.title
        %td= proposal.person.name
        %td= proposal.summary.truncate(50)
        %td
          - if @votes_by_person.find {|vote| vote.proposal_id == proposal.id }.present?
            voted
        %td
          = link_to 'show', staff_conference_proposal_path(@conference, proposal)
